* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.head-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
}

.avatar {
  border-radius: 5px;
  border: solid black;
  width: 150px;
}

a {
  text-decoration: none;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.greeting {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 32px;
}

@media (min-width: 769px) {
  .flex-container {
    flex-direction: row;
    /* display: flex; */
    /* gap: 32px; */
  }
}

.box {
  position: relative;
}

.box-1 {
  border: solid black;
  overflow: none;
  margin-bottom: 32px;
  flex: 2;
}

.box-2 {
  flex: 1;
  border: solid black;
}

.box-3 {
  flex: 1;
  border: solid black;
}

footer {
  font-size: smaller;
}

.project-title {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 1rem;
  background-color: white;
}
